/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#app-container {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.banner {
    height: 1.8rem;
    padding: 0.8rem 0.5rem 0.8rem;
    background-color: #062F39;
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-flow: column;
}

#left-column {
    width: 43%;
    left: 0px;
    position: absolute;
}

#right-column {
    width: 57%;
    right: 0px;
    position: absolute;
    font-size: 15px;
}

#main-plot {
    display: flex;
    flex-flow: column;
    width: 82%;
    max-height: 65vh;
    overflow: auto;
    overflow-x: hidden;
    top: 0px;
    left: 20px;
}

#right-menu {
    position: fixed;
    right: 0px;
    width: 10vw;
    padding: 3px;
    height: 100%;
    border-left: 2px solid #062F39;
}

#feedback-menu {
    position: fixed;
    right: 1px;
    bottom: 0;
    padding: 3px;
    width: inherit;
    margin-bottom: 55vh;
    font-size: 15px;
}

#feedback-text {
    position: fixed;
    right: 1px;
    width: inherit;
    height: 30%;
    min-height: 30%;
    max-height: 30%;
    min-width: 8%;
    overflow: auto;
    overflow-x: hidden;
    border-width: 0px;
    font-size: 1.5rem;
    font-family: Arial;
}

#submit-button {
    position: fixed;
    padding: 2px;
    height: 4rem;
    bottom: 19%;
    width: inherit;
    font-size: 1.5rem;
    font-family: Arial;
}

#force-plot-div {
    position: fixed;
    bottom: 11%;
    right: 12%;
    width: 45%;
    height: 25%;
}

#force-plot {
    height: 100%;
    padding-left: 3px;
    width: 100%;
    border: 0;
}

#file-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 18%;
}

#file-list {
    position: fixed;
    width: 46%;
    padding: 3px;
    height: 13vh;
    display: grid;
    overflow: auto;
    overflow-x: hidden;
}

.hyperlink {
    font-family: Arial;
    color: #006eff;
    font-size: 1.7rem;
    text-align: left;
    margin-left: 1vw;
}

.test_class {
    width: 50;
    height: 20;
}
/* Override data table select colors*/
.dash-spreadsheet-container table {
    --accent: #c0c0c0 !important;
    --selected-background: #ffc26e !important;
    --selected-color: #00 !important;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}

body {
    font-size: 2em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: Arial;
    margin: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-size: 2.8rem;
    line-height: 1.4;
    margin-bottom: 1.8rem;
    margin-left: 1rem;
    font-weight: 400;
    font-family: Arial;
    color: #FF602B;
}

h2 {
    font-size: 2rem;
    line-height: 0.6rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-weight: 400;
    font-family: Arial;
    color: #FF602B;
}

h3 {
    font-size: 1rem;
    line-height: 0.6rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-weight: 400;
    font-family: Arial;
    color: #FF602B;
}

p {
    margin-top: 0;
}
